@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #0f172a;
}

::-webkit-scrollbar-thumb {
  background-color: #0e81b9;
  border-radius: 20px;
}

.trend_name_list::-webkit-scrollbar {
  height: 3px;
}

.lasted_post::-webkit-scrollbar {
  width: 3px;
}
